.logo {
    width: 13vw;
    height: auto; 
}

.logoDiv{
    padding: 15px; 
    display: flex;
    height: auto; 
}


.home {
    background-color: #2d2e31;
    color: white;
    min-height: 100vh;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h1 {
    font-size: 4.5vw;
    font-family: 'Bebas Neue', cursive;
}

.main {
    width: 85vw;
    margin: auto;
}

@media screen and (max-width: 750px) {
    .emojibarre {
        margin-top: 60px !important;
    }

    .logo {
        width: 19vw;
    }

    h1 {
        font-size: 7vw;
    }
}
@media screen and (max-width: 650px) { 
    .logoDiv {
        justify-content: center ;
    }

    h1 {
        font-size: 9vw;
        margin-top: 3vh;
    }

    .logo {
        width: 37vw;
    }

    .emojibarre {
        margin-top: 44px !important;
    }
}