.logo {
    padding-top: 2%;
    /* width: 15vw; */
    width: 172px;
    height: auto; 
}


.logoDiv{
    padding: 15px; 
    display: flex;
    /* align-content: center; */
    height: auto; 
}


.home {
    background-color: #2d2e31;
    color: white
}

h1 {
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    text-shadow: #e0e0e0 1px 1px 0;
}

.main {
    width: 85vw; 
    margin: auto; 
    padding: 10% 0 10% 0;
}

.Coco {
    width: 20%;
    height: 20%;
    border-radius: 20px;

}

.ytp-cued-thumbnail-overlay-image {
    background-image: url("https://mocah.org/thumbs/359134-4k-wallpaper.jpg");
}

@media screen and (max-width: 650px) { 
    .logoDiv {
        justify-content: center ;
    }

    h1 {
        font-size: 7vw;
    }
}