@media screen and (max-width: 750px) { 
    .emojiimg-NavBar, .aubergine{
        width: 30px;
        height: 30px;
        /* padding: 10px; */
    }

    .emojibarre-NavBar {
        flex-flow: row wrap;
    }  

    .Figcaption-NavBar {
        font-size: 1em;
        padding-top: 12px;
    }

    div:hover>.Figcaption-NavBar {
        font-size: 1em;
    }
    .emojiimg-NavBar, .aubergine{
        width: 30px;
        
    }
   
}




.holderEmojibarre-NavBar {
    /* padding-bottom: 20vh; */

}.emojiimg-NavBar, .aubergine{
    width: 35px;
    height: 35px;
    
}


.emojibarre-NavBar {
    display:flex;
    justify-content: space-between;
    align-content: center;
    width:100%;
    opacity: 1;
    border-radius: 10px 10px 0 0;
    padding : 7px; 
    margin: 0 auto 0 auto;
    flex-flow: row wrap;
    /* border: 3px solid green;  */
    height: 60px;
}  

.container-NavBar {
    display: flex; 
    /* flex-direction: column; */
    text-align: center;
    align-items: center;
    
}

/* .NavLink-NavBar{
} */

.Figcaption-NavBar {

    font-family: 'Bebas Neue', cursive;
    font-size: 0em;
    color: #FFDB58;
    opacity: 0;
    transition: all .5s ease-in-out;
    padding-top: 30px;
}


div:hover>.Figcaption-NavBar {
    font-size: 1.5em;
    opacity: 1;
    transition: all .5s ease-in-out;
} 


@media screen and (min-width: 750px) { 
    .container-NavBar {
        position: relative;  
        
    }
    
    /* .Figcaption-NavBar {
        position: absolute;
        left: 50%;
        top: 150%;
        transform: translate(-50%, -50%);
    } */

    
}




/* @media screen and (max-width: 650px) { 
    .emojiimg-NavBar, .aubergine{
        width: 70px;
        height: auto;
    }
    
} */