.emojiimg, .aubergine{
width: 100px;
height: 100px;
/* box-shadow: 5px 10px 6px #030303; */
border-radius: 15%;

}

.emojiimg:hover{
    transform: scale(1.2);
    transition: all .1s ease-in-out;
    
}
.aubergine:hover{
    transform: scale(7) rotate(150turn) translate(-90px, 190px, 50px);
    transition: all 1s ease-in-out;
}
.emojibarre {
    display:flex;
    justify-content: space-around;
    width:70vw;
    background: #403B3B 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 6px #030303;
    opacity: 1;
    border-radius: 40px;
    padding : 20px; 
    margin: 70px auto;
    
}  

.container {
    position: relative;
}

figcaption {
    display : none; 
}

:hover>figcaption {
    display : flex;
    position: absolute;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
}

