.nav-style {
    height: auto;
    /* min-width: 100vw; */
    /* position: fixed; */
    display: flex;
    align-items: center;
    /* background-color: #2d2e31; */
    background-color: transparent;
    /* padding: 10px; */
    margin-bottom: 5vh;
}

.logoContainer {
    display: flex;
}

ul, a {
    display: flex;
}

li {
    font-size: 2vw;
    display: inline;
    text-decoration: none;
    /* margin-left: 30px; */
    color: white;
    text-align: center;    
}

li:hover{
    color: #FFDC6C;
}

.logo-nav{
    display: flex;    
    height: auto;
    width: 13vw;
    padding-top: 1vh;
}

@media screen and (max-width: 750px){
    li {
        font-size: 3.5vw;
    }
}