.nav-style {
    height: auto;
    /* min-width: 100vw; */
    /* position: fixed; */
    display: flex;
    align-items: center; /* ALIGNEMENT DE MOODY LINKS et EMOTICONES */
    /* background-color: #2d2e31; */
    background-color: transparent;
    /* padding: 10px; */
    margin-bottom: 5vh;
    /* border: 2px solid green; */
    /* padding-bottom: 1vw;  */
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
}

.bloc-logo-links{
display: flex;
/* border : 2px solid blue; */
align-items: center;

}

.bloc-emojichanger {
/* border: 2px solid red; */
position: relative;
}

.logoContainer {
    display: flex;
}

.links-container, .navbar-links {
    display: flex;
}

.navbar-links {
    font-size: 2vw;
    display: inline;
    text-decoration: none;
    margin: 0 20px;
    color: white;
    text-align: center;    
}

.navbar-links:hover{
    color: #FFDC6C;
}

.logo-nav{
    display: flex;    
    height: auto;
    width: 13vw;
    /* padding-top: 1vh; */
}



@media screen and (max-width: 750px){
    .navbar-links {
        font-size: 4.1vw;
        margin: 0px 1vw;
    }

    .nav-style {
        display: flex;
        justify-content: space-evenly;
        padding-top: 1%;
        padding-right: 0;
    }

    .logo-nav {
        width: 23vw;
    }
}