<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Bar Emoji</title>
    <!-- Lien Fonts Google Bebas Neue = NETFLIX -->
    <link rel="stylesheet" href="emojiChanger.css" />    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <!-- Fin d'import FONT -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- Fin d'insertion icone recherche -->
</head>
<body>
    <h1>title</h1>
    <div class="search-box">
        
        <div class="search-txt" >
            <a href="#" class="lienSelection">
                <img src="./assets/joyeux.png" alt="" class="emojis">
            <a href="#" class="lienSelection">
                <img src="./assets/pleure.png" alt="" class="emojis">
            <a href="#" class="lienSelection">
                <img src="./assets/surprise.png" alt="" class="emojis">
            <a href="#" class="lienSelection">
                <img src="./assets/amour.png" alt="" class="emojis">
            <a href="#" class="lienSelection">
                <img src="./assets/colere.png" alt="" class="emojis">
            <a href="./Navbar.html" target="_blank" class="lienSelection">
                <img src="./assets/peur.png" alt="" class="emojis">
            <a href="#" class="lienSelection">
                <img src="./assets/aubergine.png" alt="" class="emojis">
            </a>
        </div>
        <div class="boiteSelection">
            <a href="#" class="lienSelection">
                <img src="./assets/joyeux.png" alt=""  class="emoactif">
            </a>
        </div>
    
    </div>
    
</body>
</html>
